In [6]:
# * * * *
# *     *
# *     *
# * * * *

for i in range(0,4):
    for j in range(0,4):
        if(i==0 or i==3):
            print("*",end=" ")
        elif(j==0 or j==3):
            print("*",end="     ")
    print(" ")

* * * *
*     *
*     *
* * * *

In [32]:
# *
# * *
# * * *
# * * * *
# * * *
# * *
# *

for i in range(0,8):
    if(i>=0 and i<8//2):
        for i in range(0,i+1):
            print('*',end=" ")
    else:
        for i in range(8,i+1,-1):
            print('*',end=" ")
    print(" ")

*
* *
* * *
* * * *
* * *
* *
*

In [33]:
# 1
# *
# 2
# * *
# 3
# * * *
# 4
# * * * *
# 5
# * * * * *





for rows in range(1,6):
    print(rows)
    for column in range(1,rows+1):        
        print('*',end=" ")
    
    print(" ")

1
*
2
* *
3
* * *
4
* * * *
5
* * * * *

In [57]:
#1 *
#2 ****
#3 *********
#4 **....*

for rows in range(1,6):
    print(rows,end=" ")
    for column in range(1,rows+1):
        #for i in range(0,rows):
        print(rows*'*',end="")
    
    print(" ")

1 *
2 ****
3 *********
4 ****************
5 *************************

In [66]:
mysetA={10,20,30,40}
mysetB={30,70,80}
mysetB.difference(mysetA)

{70, 80}

In [59]:
mysetA={10,20,30,40}
mysetB={30,70,80}
mysetA.issuperset(mysetB)

False

In [61]:
mysetA={10,20,30,40}
mysetB={30,70,80}
mysetA.isdisjoint(mysetB)

False

In [62]:
mysetA={10,20,30,40}
mysetB={30,70,80}
mysetA.symmetric_difference_update(mysetB)

In [63]:
mysetA

{10, 20, 40, 70, 80}

In [64]:
mysetB

{30, 70, 80}